.flex-component {
  display: flex;
}

.desktop-only {
  display: none;

  &.flex-component {
    display: none;
  }
}

.mobile-only {
  display: none;

  &.flex-component {
    display: none;
  }
}

html.device-desktop {
  .desktop-only {
    display: initial;

    &.flex-component {
      display: flex;
    }
  }
}

html.device-mobile {
  .mobile-only {
    display: initial;

    &.flex-component {
      display: flex;
    }
  }
}