@font-face {
  font-family: "EBGaramond";
  src: url("/static/fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "SentyWEN2017";
  src: url("/static/fonts/SentyWEN2017.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "ZhiMangXing";
  src: url("/static/fonts/ZhiMangXing-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "STXINGKA";
  src: url("/static/fonts/STXINGKA.TTF") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "LXGWWenKai";
  src: url("/static/fonts/LXGWWenKai-Regular.ttf") format("truetype");
  font-display: swap;
}
